*{
    margin: 0;
    padding: 0;
    scroll-behavior: inherit;
    box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}


.navbar{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar-container h3{
    font-family: optima;
    font-size: 3rem;
    display: inline-block;
    color: #24243e;
    font-style: oblique;
    padding-top: 5px;
    padding-right: 200px;
    cursor: pointer;
    /* font-weight: 550; */
}

.navbar-container span{
    font-family: optima;
    font-size: 2.5rem;
    color: #ffffff;
    font-style: oblique;
    cursor: pointer;
    font-weight: 550;
}

.logo{
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item{
    height: 90px;
}

.navbar-links{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.5s ease;
}

.navbar-links:hover{
    color: #fff;
    background-color: #302b63;
    border-radius: 20px;
    transition: all 0.5s ease;
    height: 40px;
    margin-top: 30px;
}

.navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar-btn .main-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     color:#fff;
}

.navbar-btn .main-button a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.container-fluid{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
}

.row .col{
    position: relative;
    height: auto;
    padding-top: 50px;
}

.arrow{
    width: auto;
    margin-top: 30%;
    background-color: #ff0984;
    border-radius: 20px;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex;
    margin-right:50px;
    z-index: 4;
    padding-top: 40px;
    opacity: 0.8;
    transition: all 0.6s ease;
}

.arrow i{
    font-size: 4rem;
    color: #ffffff;
    opacity: 1;
}

.arrow:hover{
    opacity: 1;
    transition: all 0.6s ease;

}

.contact-box{
    background-image: linear-gradient(to right, #D8D9E9 , #4414FF);
    border-radius: 40px;
    width: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(20%, -190%);
    display: none;

}

.contact-box h3{
    font-size: 3rem;
    font-weight: 550;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid #fff;
}

.contact-box .contact-body{
    position: relative;
    margin: auto;
}

.contact-box .contact-body ul{
    list-style: none;
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}

.contact-box .contact-body ul li{
    font-size: 1.5rem;
    line-height: 30px;
    padding: 10px 0px;

}

.contact-box .contact-body ul li i{
    font-size: 3rem;
    padding: 0px 20px;
}

.contact-box .contact-body ul li span{
    font-size: 2rem;
    color: #fff;
}

.contact-box .contact-body ul li span a{
    color: #fff;
}

.close-btn{
    font-size: 1.5rem;
    color: #fff;
    padding: 0px 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    z-index: 3;
    transition: all 0.5s ease;
}

.close-btn:hover{
    background-color: #ff0984;
    color: #fff;
}

.row.cover{
    height: 100%;
}

.row .col.greeting{
    position: relative;
    height: auto;
    margin: auto;
    width: 30%;
    text-align: left;
    text-align: center;
}

.row .col.greeting span{
    padding-top: 50px;
    color: #fff;
    font-weight: 550;
    font-size: 1.5rem;
    margin: auto;
}

.row .col.greeting h3{
    font-size: 3rem;
    padding: 20px 0px;
    font-weight: 600;
    /* color: #6a9cf8; */
    color: #ff0984;
    margin: auto;
    text-align: center;
    font-style: oblique;
}

.row .col.greeting p{
    color: #fff;
    width: 50%;
    font-weight: 550;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.row .col.avatar{
    position: relative;
    height: auto;
    width: 70%;
}

.row .col img{
    position: absolute;
    width: 100%;
    transform: translate(-90%,15%);
    justify-content: center ;
    /* box-shadow: 5px 10px 8px #888888; */
    transition: all 0.6s ease;
    filter: grayscale(100%);
}

.row .col img:hover{
    transition: all 0.6s ease;
    transform: translate(-100%,0%);
    filter: grayscale(0%);

}

.row .col.avatar svg{
    position: relative;
    width: 100%;
}

.main-btn{
    position: relative;
    background-image: linear-gradient(to right, #D8D9E9 , #4414FF);
    border-radius: 10px;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 550;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    transition: all .35s;
    margin-bottom: 100px;
}

.main-btn a{
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #000000;
    font-weight: 550;
    font-size: 2rem;

}

.main-btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 10px;
    background-color: #ff0984;
}

.main-btn a:hover{
    color: #000000;
}

.main-btn:hover{
    color: #000000;
}

.main-btn:hover:after{
    width: 100%;
    color: #000000;
}

/* ================ ABOUT ME ==================== */

.row.about-me{
    position: relative;
    text-align: center;
    color: #fff;
    background: #141E30;  /* fallback for old browsers */
    height: auto;
    background-image: linear-gradient(to right, #D8D9E9 , #4414FF);
    border-radius: 40px;
} 

.row.about-me h2{
    font-size: 2.5rem;
    font-weight: 550;
}

.row.about-me > .about-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
    }

.about-pic img{
    width: 60%;
    border-radius: 30px;
    margin: auto;
    filter: grayscale(100%);
    transition: all 0.6s ease;

}

.about-pic img:hover{
    filter: grayscale(0%);
    transition: all 0.6s ease;
}

.row.about-me > .about{
    width: 50%;
    display: inline-block;
    margin: auto;
}

.about h2{
    color: #ffffff;
    width: 90%;
    font-size: 2rem;
    text-align: left;
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
}

.about p{
    width: 90%;
    float: left;
    text-align: left;
    font-size: 1.2rem;
    line-break: auto;
    padding: 20px 0px;
}

.about h4{
    width: 90%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 550;
}

.about ul{
    width: 90%;
    list-style: none;
    text-align: left;
}

.about ul li{
    font-size: 1.2rem;
    text-align: left;
}

.row.skills{
    width: 80%;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin: auto;
}

.col-md-6 h3,
.col-md-12 h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 550;
    color: #ffffff;
    padding: 100px 0px;
}

.text{
    border-radius: 40px;
    background-image: linear-gradient(to right, #D8D9E9 , #4414FF);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease;
    height: 500px;

}

.text:hover{
    background-color: red;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.6s ease;
}

.text h4{
    font-size: 1.5rem;
    font-weight: 550;
    color: #ffffff;
    text-align: center;
    padding: 5px 0px;
}

.text p{
    letter-spacing: 2px;
    line-height: 30px;
    padding: 10px 0px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font-size: 1.2rem;
}

.certification{
    padding-bottom: 100px;
}

.network{
    position: relative;
    width: 100%;
}

.network svg{
    width: 100%;

}

.network img{
    position: absolute;
    transform: translate(-130%, 50%);
    width: 45%;
    border-radius: 40px;
    transition: all 0.6s ease;
    background-size: cover;
    filter: grayscale(100%);

}

.network img:hover{
    transition: all 0.6s ease;
    width: 50%;
    transform: translate(-110%, 30%);
    filter: grayscale(0%);
}

.network .flashnet{
    position: absolute;
    transform: translate(-180%, 70%);
    height: 250px;
    width: 45%;
    border-radius: 40px;
    transition: all 0.6s ease;
    background-size: cover;
    filter: grayscale(100%);
}


.network .flashnet:hover{
    transition: all 0.6s ease;
    width: 50%;
    transform: translate(-190%, 60%);
    filter: grayscale(0%);
}

.text i{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    padding: 20px 0px;
    color: #000000;
}

.text-experiences h2{
    font-size: 2rem;
    text-align: left;
    margin: auto;
    cursor: none;
    color: #ffffff;
    padding: 30px 0px;
}

.text-experiences ul{
    list-style: circle inside url("../images/pic_list.PNG");
    line-height: 30px;
}

.text-experiences ul li{
    font-size: 1.2rem;
    padding: 20px 20px;
    color: #fff;
    text-align: left;
}

.text-experiences ul li span{
    font-weight: 600;
    font-size: 1.3rem;
}

.text-experiences ul li span a{
    color: #ff0984;
}

/* =========== FOOTER ========= */

.footer {
    
    padding: 30px 0px;
    background: linear-gradient(to right, #D8D9E9 , #4414FF);
    width: 100%;
}

.footer .footer-social{
    text-align: center;
    padding-bottom: 25px;
    color: #000000;
}

.footer .footer-social a{
    justify-content: center;
    font-size: 2.5rem;
    padding:10px 10px;
    color:inherit;
    border: 1px solid #000000;
    /* width: 55px; */
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    /* border-radius: 50%; */
    margin: 0 30px;
    opacity: 0.75;
}

.footer .footer-social a:hover{
    opacity: 0.9;
}

.footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}

@media screen and (max-width: 960px) {
   
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;  
    }
    .navbar-menu.active{
        background: linear-gradient(to right, #D8D9E9 , #4414FF);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 55;
        height: 60vh;
        font-size: 1.6rem;
        padding-left: 0px;
    }
    .logo{
        padding-left: 25px;
    }
    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
    .navbar-item{
        width: 100%;
        margin: auto;
        padding: 2rem;
    }
    .navbar-links{
        text-align: center;
        width: 100%;
        display:table;
    }
    .navbar-btn{
        padding-bottom: 2rem;
    }
    .main-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin:0;
       
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /* .bar{
        font-size: 2rem;
    } */
    
    .navbar-toggle .bar{
        display: block;
        cursor: pointer;
        padding:2px;
        width: 35px;
        background: #6441A5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}